.navbar.navbar-default, .navbar.top-nav.navbar_default{background-color: #007a87;margin-bottom: 0px;border:0px;}
.navbar-nav.navbar-right{margin: 0px!important;}
.navbar-brand{padding: 10px;}
.navbar ul.nav > li > a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #fff;}
.navbar ul.nav > li:hover{background-color: #6D7B8D;}

.navbar ul.nav > li:hover a{color: #fff;}
.navbar ul.nav > li.no-bg:hover{background-color: transparent;}
.navbar ul.nav > li.no-bg:hover a{color: #000;}
.navbar-btn{margin-top: 12px;}

.navbar-btn .btn{
	position:relative;
-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	

    }
.navbar-btn .btn:active{
      -webkit-box-shadow:  0px 2px 2px #242121!important;
    -moz-box-shadow: 0px 2px 2px #84261a!important;
    box-shadow: 0px 2px 2px #84261a!important;
    position:relative;
    top:2px;
}

.row.home-search-bg{background-image: url('../images/home-head-bg.jpg');padding: 35px;}
.home-search{
width: 80%;
background: none repeat scroll 0 0 transparent;
background-color: rgba(255,255,255,0.6);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
zoom: 1;
border-radius: 5px;
margin: 6px auto 0;
padding: 15px;
height: 80px;
}

.home-search input{
background: none repeat scroll 0 0 transparent;
background-color: rgba(255,255,255,0.9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
zoom: 1;
border-radius: 5px;
color:#000;
height: 50px;
}


.home-search-bg .btn.btn-success.btn-lg{
    width: 280px;
    position:relative;
-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    background-color: #007a87;

        border: 0px;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        }



.home-search-bg .btn.btn-success.btn-lg:active{

      -webkit-box-shadow:  0px 2px 2px #26450E;
    -moz-box-shadow: 0px 2px 2px #26450E;
    box-shadow: 0px 2px 2px #26450E;
    position:relative;
    top:2px;
}

.btn.btn-success.shadow{

    position:relative;
-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    background-color: #007a87;

        border: 0px;
        color: #fff;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 5px;
        }


.btn.btn-success.shadow:active{

      -webkit-box-shadow:  0px 2px 2px #26450E;
    -moz-box-shadow: 0px 2px 2px #26450E;
    box-shadow: 0px 2px 2px #26450E;
    position:relative;
    top:2px;
}

.btn.btn-success.shadow1{

    position:relative;
-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  
    -webkit-box-shadow:  0px 4px 3px #dfff4e!important;
        -moz-box-shadow:  0px 4px 3px#dfff4e!important;
        box-shadow: 0px 4px 3px #dfff4e!important;
        border: 0px;
        color: #fff;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 5px;
        }


.btn.btn-success.shadow1:active{

      -webkit-box-shadow:  0px 2px 2px #dfff4e;
    -moz-box-shadow: 0px 2px 2px #dfff4e;
    box-shadow: 0px 2px 2px #dfff4e;
    position:relative;
    top:2px;
}



.home-search button{height: 50px;}
.home-search-bg h2{color: #fff;}
.home-search:hover{

color:#6D7B8D;

}

.home-search button,.home-find .button,.home-afford .button{
	position:relative;
-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	background-color: #007a87;

        border: 0px;
        color: #fff;
		font-weight: bold;
		padding: 10px;
		border-radius: 5px;
    }
.home-search button:active,.home-find .button:active,.home-afford .button:active{

      -webkit-box-shadow:  0px 2px 2px #645F5E;
    -moz-box-shadow: 0px 2px 2px #645F5E;
    box-shadow: 0px 2px 2px #645F5E;
    position:relative;
    top:2px;
}

.roundPic {
width: 220px;
transition: all .3s ease-in-out;
-webkit-transform: all .3s ease-in-out;
-ms-transform: all .3s ease-in-out;
-o-transform: all .3s ease-in-out;
-moz-transform: all .3s ease-in-out;
}

.roundPic:hover {
transform: scale(1.04,1.04);
-webkit-transform: scale(1.04,1.04);
-ms-transform: scale(1.04,1.04);
-o-transform: scale(1.04,1.04);
-moz-transform: scale(1.04,1.04);
}

.home-service p{
width: 70%;
line-height: 20px;
margin: 0 auto;
}

.home-find{background-image: url('../images/background_mobile.png');}

.home-find p{
line-height: 25px;
}
.home-afford h1,.home-afford h2,.home-afford h3{color: #fff;}
.home-afford{background-image: url('../images/mortgage_bkg_v3.jpg');}

.footer{background-color: #007a87;color: #fff;padding: 20px;}

.widget-body select{padding: 10px;border-radius: 5px;}

.buy-fst .widget{min-height: 139px;}
.buy-sec .widget{min-height: 325px;}
.fac-inner{
border: 1px solid #4D4D4D;
padding: 15px;
background-color: #F7F7F7;
width: 100%;
display: inline-block;
}

.fac-right{float: right;}
.fac-left{float: left;}
.like-feature .timeline-cover .cover .top{height: 100px;}
.like-feature .timeline-cover .cover.image .photo{margin: -45px 0 10px 20px;}
.like-feature .innerAll p{font-size: 14px;}
.like-feature .timeline-cover .cover .top img{width: 100%;height: 100%;}

.hidden-print{background-color: #fff!important;}
#menu.hidden-print{
    width: 250px;
position: relative!important;
background: #424242;
z-index: 1;
float: left;
}
#menu.hidden-print > div{position: static!important;}
.dash{background-color: #303030;}

.dash #content{background: #f6f6f6;}

.navbar-default .navbar-brand{color: #fff;
margin-top: 6px;
font-weight: bold;
}

.navbar-default .navbar-brand img{
margin-top: -20px;
margin-right: -20px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #fff;}

a:focus{text-decoration: none;}
body{ font-family: 'Open Sans', sans-serif;}

.lead {
font-size: 16px;
font-weight: bold;
}

p.lead.margin-none.price {
font-size: 14px;
}

.like-slide .innerAll{min-height: 125px;}
.like-slide .cover .innerAll{min-height: 25px;}
.slick-prev{left: -35px!important;}
.slick-next{right: -35px!important;}
.slick-prev:before {color:#000!important;}
.slick-next:before{color:#000!important;}

.buy-fst .innerB{font-size: 25px!important;}
.sell-fst .innerB{font-size: 25px!important;}

.label-right label{text-align: right;}
.timeline-cover.das .top{height: 180px;}

.log{margin: 0px!important;}
.log .col-fs{margin: 0px!important;}

@media screen and (max-width: 767px){

    .home-search{height: 145px;}
    .home-search input{margin-bottom: 12px;}

} 
@media screen and (max-width: 500px){
.home-afford img{width: 100%;}
}

.dash .col-md-10 .widget .innerAll {min-height: 150px;}

.dash .col-md-10 .widget .widget.cover.image{
    min-height: 69px!important;
}

.dash .col-md-10 .widget .widget.cover.image .innerAll {min-height: 0px!important;}

.lock-wrapper.lock-bg-1{min-height: 800px;}

.bg-blk{background-color: #303030;}

#content{min-height: 800px;}

.rate-str p {
min-height: 28px;
}

.rate-str .str{height: 28px!important;margin-bottom: 10px;}


#menu > div > ul{position: static;}